@charset "UTF-8";

html {
  overflow-y: auto !important;
}

p, h1, h2, h3, h4, h5, span, a, div {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif !important;
  color: var(--c-gh-text-middle) !important;
}

a {
  color: var(--c-gh-link) !important;
  text-decoration: none !important;
}

a:hover,
a:focus,
a:active {
  color: var(--c-gh-link) !important;
  text-decoration: underline !important;
}

#app {
  color: var(--c-gh-text-light) !important;
  background: var(--c-gh-bg-dark) !important;
}

.first-line {
  display: none;
}

.navbar {
  background-color: var(--c-gh-bg-middle) !important;
}

.navbar .navbar-burger {
  color: var(--c-gh-text-light) !important;
  font-weight: 600 !important;
}

.navbar .navbar-burger span {
  color: inherit !important;
}

.navbar .navbar-burger:hover,
.navbar .navbar-burger:focus,
.navbar .navbar-burger:active {
  color: var(--c-gh-text-middle) !important;
  background: transparent !important;
  text-decoration: none !important;
}

.navbar .navbar-menu {
  flex-direction: row-reverse !important;
}

.navbar .navbar-menu .navbar-start .navbar-item {
  color: var(--c-gh-text-light) !important;
  font-weight: 600 !important;
}

.navbar .navbar-menu .navbar-start .navbar-item:hover,
.navbar .navbar-menu .navbar-start .navbar-item:active,
.navbar .navbar-menu .navbar-start .navbar-item:focus {
  color: var(--c-gh-text-middle) !important;
  background: transparent !important;
  text-decoration: none !important;
}

.navbar .navbar-menu .navbar-end {
  flex-direction: row-reverse !important;
}

.navbar .navbar-menu .navbar-end .navbar-item:first-child {
  display: none !important;
}

.navbar .navbar-menu .navbar-end .navbar-item:nth-child(2) {
  color: var(--c-gh-text-light) !important;
  font-weight: 600 !important;
}

.navbar .navbar-menu .navbar-end .navbar-item:nth-child(2) span {
  color: inherit !important;
  font-weight: inherit !important;
}

.navbar .navbar-menu .navbar-end .navbar-item:nth-child(2):hover,
.navbar .navbar-menu .navbar-end .navbar-item:nth-child(2):active,
.navbar .navbar-menu .navbar-end .navbar-item:nth-child(2):focus {
  color: var(--c-gh-text-middle) !important;
  background: transparent !important;
  text-decoration: none !important;
}

.navbar .navbar-menu .navbar-end .navbar-item.search-bar input {
  background-color: var(--c-gh-bg-dark) !important;
  border: 1px solid var(--c-gh-border-light) !important;
  color: var(--c-gh-text-middle) !important;
  font-weight: 400 !important;
  width: 250px !important;
  border-radius: 6px !important;
  padding: 8px 12px !important;
}

.navbar .navbar-menu .navbar-end .navbar-item.search-bar input:focus,
.navbar .navbar-menu .navbar-end .navbar-item.search-bar input:active {
  outline: 1px solid var(--c-gh-text-middle) !important;
}

.navbar .navbar-menu .navbar-end .navbar-item.search-bar label::before {
  color: var(--c-gh-text-middle) !important;
  left: auto !important;
  right: 20px !important;
}

.navbar .navbar-menu .navbar-end .navbar-item.search-bar:focus-within label::before {
  color: var(--c-gh-text-dark) !important;
}

article.message {
  background-color: var(--c-gh-bg-dark) !important;
  border-radius: 6px;
  border: 1px solid var(--c-gh-border-light) !important;
  box-shadow: none !important;
}

article.message .message-header {
  background-color: var(--c-gh-bg-dark) !important;
  border-radius: 6px 6px 0 0;
  border-bottom: 1px solid var(--c-gh-border-light) !important;
  color: var(--c-gh-text-light) !important;
}

article.message .message-body {
  color: var(--c-gh-text-middle) !important;
}

.column div {
  margin-bottom: 1rem;
}

.column div:last-child {
  margin-bottom: 0;
}

.group-title {
  color: var(--c-gh-text-middle) !important;
}

.card {
  background-color: var(--c-gh-bg-dark) !important;
  border: 1px solid var(--c-gh-border-light) !important;
  box-shadow: none !important;
}

.card:hover {
  transform: none !important;
}

.card a:hover{
  text-decoration: none !important;
}

.card .card-content {
  color: var(--c-gh-text-dark) !important;
  padding: 16px !important;
  border-radius: 6px !important;
}

.card .card-content .media-left {
  color: var(--c-gh-text-dark) !important;
}

.card:hover .card-content .media-left,
.card:active .card-content .media-left,
.card:focus .card-content .media-left {
  color: var(--c-gh-text-dark) !important;
  text-decoration: none !important;
}


.card .card-content .media-content .title {
  color: var(--c-gh-link) !important;
  text-decoration: none !important;
  margin-bottom: 0 !important;
}

.card:hover .card-content .media-content .title {
  color: var(--c-gh-link) !important;
  text-decoration: underline !important;
}

.card .card-content .media-content .subtitle {
  text-decoration: none !important;
  margin-top: 0.65rem !important;
  color: var(--c-gh-text-dark) !important;
}

.card:hover .card-content .media-content .subtitle,
.card:active .card-content .media-content .subtitle,
.card:focus .card-content .media-content .subtitle {
  text-decoration: none !important;
}

.card .card-content .media .status,
.card .card-content .media .notifs {
  display: block !important;
  position: absolute;
  right: 16px !important;
  bottom: 16px !important;
  top: auto !important;
  color: var(--c-gh-text-dark) !important;
  font-size: 12px !important;
  text-transform: capitalize;
}

.card .card-content .media .status::before {
  box-shadow: none !important;
  border: 1px solid var(--c-gh-border-light) !important;
  height: 1em !important;
  width: 1em !important;
  border-radius: 50% !important;
}

.card .card-content .media .status.offline::before,
.card .card-content .media .status.bad::before {
  background-color: #d75137 !important;
}

.card .card-content .media .status.warn::before {
  background-color: #b07219 !important;
}

.card .card-content .media .status.online::before,
.card .card-content .media .status.good::before {
  background-color: #468221 !important;
}

.card .card-content .media .notif {
  box-shadow: none !important;
  border: 1px solid var(--c-gh-border-light) !important;
  height: 2em !important;
  width: 2em !important;
  border-radius: 50% !important;
  color: var(--c-gh-text-light) !important;
  text-align: center;
}

.card .card-content .media .notif.running {
  background-color: #468221 !important;
}

.card .card-content .media .notif.misc {
  background-color: #214e82 !important;
}

.card .card-content .tag {
  right: 16px !important;
  top: 16px !important;
  background-color: var(--c-gh-bg-dark) !important;
  border: 1px solid var(--c-gh-border-light) !important;
  color: var(--c-gh-text-dark) !important;
  border-radius: 2em !important;
  width: fit-content !important;
  padding: 0.12em 0.5em !important;
}

.card .card-content .tag strong {
  display: block !important;
  font-size: 1.15em !important;
}

footer {
  background-color: var(--c-gh-bg-dark) !important;
  box-shadow: none !important;
  color: var(--c-gh-text-dark) !important;
  padding: 2rem 3rem !important;
}

footer p {
  color: var(--c-gh-text-dark) !important;
}

